<h1>Products</h1>

  <p><%= @product.name %> | <%= @product.formatted_price %></p>
  <p><%= @product.description %></p>

<h3>Product reviews</h3>

  <p>Reviews for <%= @product.name %></p>

<div id="review-list">
  <%= render :partial => "review" %>
</div>


  <% if current_user %>
    <h4>New Review</h4>

    <%= form_for [@product, @review] do |f| %>

    <!-- @review will add a class and id of 'new review' to the form -->
    <% if @review.errors.present? %>
      <% @review.errors.full_messages.each do |error| %>
        <div class="alert">
          <%= error %>
        </div>
        <% end %>
      <% end %>

    <div id="review-form-errors">
      <%= render :partial => "/products/error" %>

    </div>

      <div class="field">
        <%= f.label :comment %><br />
        <%= f.text_area :comment %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>

  <% else %>
    <p>Please <%= link_to "log in", new_session_path %> to add a review.</p>
  <% end %>

<!-- <script type="text/javascript">

  $(document).ready(function() {
    $("#new_review")
      .on('ajax:beforeSend', function() {alert("loading!");})
      .on('ajax:success', function(data, status, xhr) {alert("success!");})
      .on('ajax:error', function(xhr, status, error) {alert("error!");})
      .on('ajax:complete', function() {alert("complete!");});
  });

  </script> -->
